<section class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3">
    <h1>Your Code</h1>
    <form id="addCode" class="pure-form" method="post" action="/code/add">
        <fieldset>

            <div class="pure-control-group">
                <textarea id="code" name="code" rows="10" style="width:90%;" placeholder="Write something here"></textarea>
            </div>
            <div class="pure-control-group">
                <label for="title">Title</label>
                <input id="title" type="text" name="title" class="pure-input-1-2" placeholder="e.g. My Epic Function">
            </div>
        </fieldset>
        <button class="pure-button" type="submit"><i class="fa fa-terminal"></i> Log it</button>
    </form>
</section>