<section class="pure-u-1 pure-u-md-2-3 {{feedType}}">
    <h1>Feed <a href="#" class='refresh'><i class="fa fa-refresh"></i></a></h1>
    {% for code in feed %}
    <div class="codeBit">
        <nav>
            <h2>{</h2>
            <code>Title:</code><a href="/code/{{code._id}}">{{code.title}}</a>
            <code>Language: </code><a href="/lang/{{code.lang}}">{{code.lang}}</a>
            </h3>
            <code>By: </code><a href="/user/{{code.user_id.username}}">{{code.user_id.username}}</a>
            <h2>}</h2>
        </nav>
        <pre><code class="{{code.lang}}">{{code.code | safe}}</code></pre>

    </div>
    {% endfor %}
</section>