{% extends "layout.html" %} 
{% block stylesheets %}
    <link rel="stylesheet" href="/css/styles/mono-blue.css"> 
    <link rel="stylesheet" href="/css/tileFeed.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
    
{% endblock %}
{% block body %}
    <nav class="centered">
        <a href="/dashboard">Dashboard</a>
        {% if user %}<a href="/logout">Logout</a>{% endif %}
    </nav>
    <div class="create_code_panel"></div>
    <article class="pure-g dashboard">
        {% if user.username %}
            {% include "partials/addCode.html" %}
        {% else %}
            {% include "partials/addUsername.html" %}
        {% endif %}
        
        {% include "partials/tiles.html" %}
    </article>
{% endblock %}
{% block scripts %}
<script src="/js/fetch.js"></script>
<script src="/js/fetchCodeForm.js" defer></script>

{% include "partials/refreshJS.html" %}
{% endblock %}